#benefits{ float: left; width: 890px; height: 302px; margin-top: 17px; }
#benefits *{ float: left; }
/*section*/
#benefits .section{ width: 278px; height: 137px; }
#benefits .section .title{ width: 178px; height: 40px; background: #fff; }
#benefits .section .title a{ margin: 11px 0 0 15px; }
#benefits .section .title h3{ width: 63px; height: 18px; background: url(../img/benefits/bg1.png); }
#benefits .section2 .title h3{ width: 63px; height: 18px; background: url(../img/benefits/bg2.png); }
#benefits .showQR{  width: 17px; height: 17px; margin: 12px 0 0 8px; position: relative; }
#benefits .showQR img{ position: absolute; left: -19px; top: 20px; z-index: -1; opacity: 0; 
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#benefits .icon-erweima{ padding-bottom: 18px; }
#benefits .showQR:hover img{ z-index: 1; opacity: 1; top: 35px; }
#benefits .section .content{ width: 178px; height: 97px; background: #fff; }
#benefits .section .content a{ width: 147px; height: 28px; line-height: 14px; font-size: 12px; color: #4C4D4E; margin: 8px 0 0 15px; }
#benefits .section2 .content p{ width: 178px; font-size: 12px; margin: 4px 0 0 15px; color: #666666; }
#benefits .section2 .content a{ width: 76px; height: 20px; font-size: 12px; text-align: center; line-height: 20px; border: 1px solid #FF4400; border-radius: 8px; color: #FF4400; }
#benefits .section .grab{ width: 147px; font-size: 14px; font-weight: bold; margin: 5px 0 0 15px; color: #3C3C3C; }
#benefits .left{ width: 178px; height: 235px; }
#benefits .price{ width: 147px; height: 13px; margin: 14px 0 0 15px; font-size: 12px; font-weight: bold; color: #DC3535; } 
#benefits .count{ width: 147px; font-size: 12px; color: #999999; margin: 4px 0 0 15px; }
#benefits .right{ width: 100px; height: 137px; }
#benefits .right p{ width: 100px; height: 37px; font-size: 14px; text-align: center; line-height: 40px; color: #DC3535; background: #fff; }
#benefits .right a{ width: 100px; height: 100px; background: #fff; }
#benefits .right img{ width: 80px; height: 80px; margin: 5px 0 0 10px; 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#benefits .right img:hover{ opacity: 0.5; }
/*part*/
#benefits .part{ width: 203px; height: 137px; }
#benefits .part .title{ width: 203px; height: 40px; background: #fff; }

#benefits .part1 h3{ width: 79px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg3.png); }
#benefits .part2 h3{ width: 73px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg4.png); }
#benefits .part3 h3{ width: 73px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg5.png); }
#benefits .part4 h3{ width: 66px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg6.png); }
#benefits .part5 h3{ width: 39px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg7.png); }
#benefits .part6 h3{ width: 44px; height: 18px; margin: 11px 0 0 10px; background: url(../img/benefits/bg8.png); }

#benefits .part h4{ width: 191px; font-size: 14px; font-weight: bold; color: #3C3C3C; margin: 5px 0 0 12px; }
#benefits .part .content{ height: 97px; background: #fff; position: relative; }
#benefits .part .content p{ width: 191px; font-size: 14px; margin: 4px 0 0 12px; color: #666666; }
#benefits .part .content a{ width: 72px; height: 20px; font-size: 12px; text-align: center; line-height: 20px; color: #FF4400; }
#benefits .part .img{ width: 97px!important; height: 97px!important; position: absolute; right: 0px; top: 0px; }
#benefits .part .img img{ width: 80px; height: 80px; margin: 8px 0 0 8px; 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#benefits .part .img:hover img{ opacity: 0.5; }
#benefits .section1,#benefits .section2,#benefits .part1,#benefits .part2,#benefits .part4,#benefits .part5{ margin-right: 1px; }
#benefits .section1,#benefits .part1,#benefits .part2,#benefits .part3{ margin-bottom: 1px; }
#benefits .section:hover{ border: 1px solid #FF4400; margin: -1px 0px 0px -1px; }
#benefits .part:hover{ border: 1px solid #FF4400; margin: -1px 0px 0px -1px; }
#benefits .part3:hover,#benefits .part6:hover{ margin: -1px; }

#benefits h2{ width: 220px; height: 20px; background: url(../img/benefits/bg.png); text-indent: 78px; font-size: 18px; font-weight: bold; color: #3A3A3A; margin: 0 268px 8px 340px; }
#benefits .more{ width: 60px; height: 20px; background: #fff; border-radius: 10px; line-height: 20px; text-align: center; font-size: 12px; color: #3C3C3C; margin-top: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#benefits .more:hover{ background: #FF4400; color: #fff; }