#feature{ width: 892px; height: 558px; margin-top: 16px; float: left; }
#feature *{ float: left; }
#feature .margin-T{ margin-top: 10px; }
#feature .section,#feature .part{ width: 221px; height: 260px; margin-right: 2px; position: relative; }
#feature .title{ background: #fff; }
#feature .title{ width: 221px; height: 38px; }

#feature .section1 .title a{ margin: 10px 0 0 60px; }
#feature .section2 .title a{ margin: 10px 0 0 60px; }
#feature .section3 .title a{ margin: 10px 0 0 63px; }
#feature .section4 .title a{ margin: 10px 0 0 64px; }
#feature .section5 .title a{ margin: 10px 0 0 80px; }
#feature .section6 .title a{ margin: 10px 0 0 60px; }
#feature .part .title a{ margin: 10px 0 0 60px; }

#feature .section1 h3{ width: 82px; height: 18px; background: url(../img/feature/bg1.png); }
#feature .section2 h3{ width: 82px; height: 17px; background: url(../img/feature/bg2.png); }
#feature .section3 h3{ width: 76px; height: 18px; background: url(../img/feature/bg3.png); }
#feature .section4 h3{ width: 75px; height: 18px; background: url(../img/feature/bg4.png); }
#feature .section5 h3{ width: 40px; height: 18px; background: url(../img/feature/bg5.png); }
#feature .section6 h3{ width: 82px; height: 18px; background: url(../img/feature/bg6.png); }
#feature .part1 h3{ width: 83px; height: 18px; background: url(../img/feature/bg7.png); }
#feature .part2 h3{ width: 82px; height: 18px; background: url(../img/feature/bg8.png); }


#feature .showQR{ /*float: right;*/ width: 17px; height: 17px; position: absolute; right: 50px; top: 10px; }
#feature .showQR img{ position: absolute; left: -22px; top: 15px; /*display: none;*/ opacity: 0;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#feature .icon-erweima{ color: #CCCCCC; padding-bottom: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#feature .content a{ background: #fff; position: relative; }
#feature .content{ margin-top: 1px; }
#feature .section .content a{ width: 110px; height: 110px; }
#feature .part .content a{ width: 110px; height: 160px; }
#feature .content img{ width: 90px; height: 90px; margin: 10px 0 0 10px; }
#feature .section .content p{ width: 90px; height: 20px; line-height: 20px; text-align: center; position: absolute; left: 10px; bottom: 10px; font-size: 12px; color: #3c3c3c; background: #fff; opacity: 0.5; }
#feature .part h4{ width: 110px; height: 21px; line-height: 21px; color: #3C3C3C; text-align: center; font-size: 14px; font-weight: bold; margin-top: 10px; }
#feature .part p{ font-size: 12px; width: 110px; height: 29px; line-height: 21px; text-align: center; color: #3c3c3c; }
#feature .part .margin-r{ margin-right: 1px; }
#feature .section .a1{ margin-right: 1px; margin-bottom: 1px; }
#feature .section .a2{ margin-bottom: 1px; }
#feature .section .a3{ margin-right: 1px; }
#feature .section .content a:hover p{ color: #FF4400; opacity: 1; }
#feature .section .content p{ 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#feature .showQR:hover .icon-erweima{ color: #FF4400; }
/*通过改变透明度（opacity）和层级（z-index）来实现二维码的显示与隐藏，而不会影响到其他的元素*/
#feature .showQR:hover img{  z-index: 1;opacity: 1; top: 22px; }

#feature .more-content{ width: 221px; height: 60px; background: #fff; margin-top: 1px; }
#feature .more-content a{ width: 73px; height: 30px; line-height: 30px; text-align: center; font-size: 12px; color: #3c3c3c; }
#feature .more-content a:hover{ color: #FF4400; }
#feature .content a:hover h4,#feature .content a:hover p{ color: #FF4400; }

#feature h2{ width: 220px; height: 20px; background: url(../img/feature/bg.png); text-indent: 78px; font-size: 18px; font-weight: bold; color: #3A3A3A; margin: 0 268px 8px 340px; }
#feature .more{ width: 60px; height: 20px; background: #fff; border-radius: 10px; line-height: 20px; text-align: center; font-size: 12px; color: #3C3C3C; margin-top: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#feature .more:hover{ background: #FF4400; color: #fff; }
#feature .section:hover{ border: 1px solid #FF4400; margin: -1px 1px -1px -1px; }
#feature .part:hover{ border: 1px solid #FF4400; margin: -1px; }
#feature .section4:hover,#feature .section5:hover,#feature .section6:hover,#feature .part2:hover{ margin: 9px 1px -1px -1px; }