.clear { zoom:1; }   /* ==for IE6/7 Maxthon2==*/
.clear :after { clear:both; content:'.'; display:block; width: 0; height: 0; visibility:hidden; }  /* ==for FF/chrome/opera/IE8== */

#headline{ display: inline-block; width: 290px; height: 110px; background: #fff; margin-top: 10px; }
#headline .title{ width: 290px; height: 30px; margin-bottom: 10px; }
#headline h2{ float: left; width: 60px; height: 17px; background: url(../img/headline/title.png); margin: 10px 0 0 10px; }
#headline .more{ float: left; width: 32px; height: 20px; font-size: 12px; color: #3C3C3C; margin: 10px 0 0 176px; text-align: center; line-height: 20px; }
#headline .more:hover{ color: #FF4400; }
#headline .content{ width: 290px; height: 60px; display: inline-block; overflow: hidden; overflow: hidden; }
#headline .content-1,#headline .content-2,#headline .content-3{ width: 290px; height: 60px; }
#headline .content-1:hover h3,#headline .content-2:hover h3,#headline .content-3:hover h3{ color: #FF4400; }
#headline .content-1:hover img,#headline .content-2:hover img,#headline .content-3:hover img{ opacity: 0.5; }
#headline .content img{ float: left; margin: 0 10px 0  2px; 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#headline .content h3{ float: left; width: 208px; height: 14px; font-size: 14px; font-weight: bold; color: #333333; margin-top: 2px; }
#headline .content p{ float: left; width: 208px; height: 35px; font-size: 12px; line-height: 16px; color: #666666; margin-top: 9px; }
#headline .wrap{ width: 290px; height: 180px; position: relative; top: 0px;  }