.help-wrap{ float: left; width: 100%; height: 133px; margin-top: 20px; background: #F1F1F1; }
.help{ width: 1190px; height: 133px; margin: 0 auto; border-bottom: 2px solid #FF4400; }
.help h2{ text-indent: 44px; height: 34px; color: #3C3C3C; font-size: 16px; line-height: 34px; }
.help a{ float: left; font-size: 12px; margin: 13px 15px 0 0; color: #999999; }
.help a:hover{ color: #FF4400; }
.help .consumer-guarantee-service,.help .new-hand,.help .type-of-payment,.help .taobao-char{ float: left; width: 270px; height: 133px; margin-left: 25px; }
.help .consumer-guarantee-service h2{ background: url(../img/help/1.png) no-repeat; }
.help .new-hand h2{ background: url(../img/help/2.png) no-repeat; }
.help .type-of-payment h2{ background: url(../img/help/3.png) no-repeat; }
.help .taobao-char h2{ background: url(../img/help/4.png) no-repeat; }