.hot-today{ width: 160px; height: 222px; margin: 13px 0 0 9px; }
.hot-today h3{ font-size: 12px; line-height: 22px; font-weight: normal; color: #A1A1A1; }
.hot-today a{ display: inline-block; line-height: 0; }