#ifashtion{ width: 896px; height: 285px; position: relative; margin-top: 20px; }
#ifashtion .part{ width: 448px; height: 258px; font-size: 12px; float: left; margin-top: 8px; }
#ifashtion .part a{ color: #3C3C3C; }
#ifashtion .part *{ float: left; } 
#ifashtion .part .L{ margin-right: 2px; margin-left: 1px; margin-top: 1px; }
#ifashtion .part .R{ margin-top: 1px; overflow: hidden; }
#ifashtion .part .L:hover{ border: 1px solid #FF4400; margin: 0 1px 0 0; }
#ifashtion .part .R:hover{ border: 1px solid #FF4400; margin: 0 0 0 -1px; }
#ifashtion .part .title{ width: 221px; height: 38px; background: #fff; position: relative; }
#ifashtion .part .wrap{ width: 221px; height: 219px; float: none; }
#ifashtion .part .title a{  margin: 10px 0 0 60px; }
#ifashtion .part .L .title h3{ width: 82px; height: 17px; background: url(../img/fashion/bg-1.png); }
#ifashtion .part .R .wrap{  }
#ifashtion .part .R .title a{  }
#ifashtion .part .R .title h3{ width: 65px; height: 18px; background: url(../img/fashion/bg-2.png); }
#ifashtion .part .title .icon-erweima{ margin: 10px 0 0 10px; color: #CFCFCF; } 
/*a-1*/
#ifashtion .part  .a-1,#ifashtion .part  .a-2-1{ width: 111px; height: 219px; position: relative; background: #fff; margin: 1px 1px 0 0; }
#ifashtion .part  .a-1 img,#ifashtion .part  .a-2-1 img{ margin: 10px 0 0 11px; }
#ifashtion .part  .a-1 p,#ifashtion .part  .a-2-1 p{ width: 90px; height: 20px; position: absolute; left: 11px; bottom: 9px; background: #FF0055; color: #fff; line-height: 20px; text-align: center; }
/*a-2*/
#ifashtion .part  .a-2,#ifashtion .part  .a-2-2{ width: 109px; height: 110px; position: relative; background: #fff; margin-top: 1px; }
#ifashtion .part  .a-2 img,#ifashtion .part  .a-2-2 img{ margin: 9px 0 0 9px; height: 90px; width: 90px; }
#ifashtion .part  .a-2 p,#ifashtion .part  .a-2-2 p{ width: 90px; height: 19px; position: absolute; left: 9px; bottom: 11px; background: #fff; opacity: 0.5; text-align: center; line-height: 19px; }
/*a-3*/
#ifashtion .part  .a-3,#ifashtion .part  .a-2-3{ width: 109px; height: 108px; position: relative; background: #fff; margin-top: 1px; }
#ifashtion .part  .a-3 img,#ifashtion .part  .a-2-3 img{ margin: 9px 0 0 10px; height: 90px; width: 90px; }
#ifashtion .part  .a-3 p,#ifashtion .part  .a-2-3 p{ width: 91px; height: 20px; position: absolute; left: 9px; bottom: 9px; background: #fff; opacity: 0.5; text-align: center; line-height: 20px; }
/*a-4、a-5*/
#ifashtion .part  .a-4,#ifashtion .part  .a-2-4{ margin-right: 1px; }
#ifashtion .part  .a-4,#ifashtion .part  .a-5,#ifashtion .part  .a-2-4,#ifashtion .part  .a-2-5{ width: 110px; height: 110px; position: relative; background: #fff; margin-top: 1px; }
#ifashtion .part  .a-4 img,#ifashtion .part  .a-5 img,#ifashtion .part  .a-2-4 img,#ifashtion .part  .a-2-5 img{ height: 110px; width: 110px; }
#ifashtion .part  .a-4 p,#ifashtion .part  .a-5 p,#ifashtion .part  .a-2-4 p,#ifashtion .part  .a-2-5 p{ width: 110px; height: 20px; position: absolute; left: 0px; bottom: 0px; background: #fff; opacity: 0.5; text-align: center; line-height: 20px; }
/*a-6、a-7*/
#ifashtion .part  .a-6,#ifashtion .part  .a-2-6{ margin-right: 1px; }
#ifashtion .part  .a-6,#ifashtion .part  .a-7,#ifashtion .part  .a-2-6,#ifashtion .part  .a-2-7{ width: 110px; height: 108px; position: relative; background: #fff; margin-top: 1px; }
#ifashtion .part  .a-6 img,#ifashtion .part  .a-7 img,#ifashtion .part  .a-2-6 img,#ifashtion .part  .a-2-7 img{ height: 110px; width: 108px; }
#ifashtion .part  .a-6 p,#ifashtion .part  .a-7 p,#ifashtion .part  .a-2-6 p,#ifashtion .part  .a-2-7 p{ width: 110px; height: 20px; position: absolute; left: 0px; bottom: 0px; background: #fff; opacity: 0.5; text-align: center; line-height: 20px; }
/#ifashtion *part-2*/
#ifashtion .part-2 .L .title h3{ background: url(../img/fashion/bg-3.png) no-repeat 12px; }
#ifashtion .part-2 .R .title h3{ background: url(../img/fashion/bg-4.png) no-repeat 6px; }
#ifashtion .part .title .icon-erweima{ margin: 12px 0 0 10px; color: #CFCFCF; } 

#ifashtion .part .a-1:hover img,#ifashtion .part .a-2-1:hover img{ opacity: 0.5; }			
#ifashtion .part .a-1:hover p,#ifashtion .part .a-2-1:hover p{ background: #FF0055; color: #fff; }
#ifashtion .part a p,#ifashtion .part .a-1 img,#ifashtion .part .a-2-1 img{ 
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#ifashtion .part a:hover p{ color: #FF4400; opacity: 1; }

#ifashtion h2{ width: 220px; height: 20px; line-height: 20px; display: inline-block; font-size: 18px; color: #323232; background: url(../img/fashion/bg.png) no-repeat; text-indent: 80px; margin-left: 340px;  }
#ifashtion .more{ width: 60px; height: 20px; line-height: 20px; border-radius: 10px; color: #3C3C3C; font-size: 12px; background: #fff; text-align: center; position: absolute; right: 2px; top: 5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#ifashtion .more:hover{ background: #FF4400; color: #fff; }
/*showQR*/
#ifashtion .showQR{ position: absolute; right: 2px; top: 28px; z-index: 1; display: none;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#ifashtion .showQR:hover{ display: inline-block; }
#ifashtion .R .showQR{ position: absolute; right: 20px; top: 28px; z-index: 1; }
#ifashtion .icon-erweima{
	padding-bottom: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#ifashtion .icon-erweima:hover{ cursor: pointer; color: #FF4400; }
#ifashtion .icon-erweima:hover+.showQR{ opacity: 1; top: 32px; display: inline-block; }